/* Achtergrondkleur van top navigatiebalk */

.topnav {
    background-color:#008693;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-style: solid;
    border-bottom-color: #f04c25;
}

/* Stijl van links binnenin navigatiebalk */

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Actief/huidige link */

.topnav a.active {
    background-color:#f04c25 ;
    color: white;
}

.footer {
    background-color: #008693;
    color: white;
    text-align: right;
    padding: 1px 16px;
    font-size: 17px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-style: solid;
    border-top-color: #f04c25;
}

.content-start {
    width: 70%;
    background-color: #fff;
    margin: auto;
}

